SOURCE/Word Find Solver/Service References/ServiceReference1/Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://andreigec.net/services/Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/andreigecMVC.Services" />
  <xs:element name="GetTitleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/andreigecMVC.Services" minOccurs="0" name="GetTitleInfoResult" nillable="true" type="q1:TitleInfoServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>