SOURCE/Word Find Solver/Service References/ServiceReference1/Services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/andreigecMVC.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/andreigecMVC.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TitleInfoServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LatestTitleChangelog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LatestTitleDownloadPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LatestTitleVersion" type="xs:double" />
      <xs:element minOccurs="0" name="TitleID" type="xs:int" />
      <xs:element minOccurs="0" name="TitleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleInfoServiceModel" nillable="true" type="tns:TitleInfoServiceModel" />
</xs:schema>